body{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1rxGkHuhr9UzdHoQvq4NH_a2Fm6caFPBCeA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    margin-left: 45%;
    margin-top: 5%;
    font-size: x-large;
    font-weight: bold;
    
}
.box{
    height: 400px;
    width: 350px;
    border: 2px solid black;
    margin-left: 35%;
    
}

input{
    padding: 7px;
    background-color:antiquewhite;
    border: 1.5px solid burlywood;
    
}
#no{
    margin-top: 50px;
}
#result,#history{
    height: 40px;
    width: 80px;
    background-color:rgba(222, 184, 135,0.5);
    margin: auto;
    border-radius: 20px;
    width: fit-content;
    padding: 5px;
    border: 2px solid  rgb(221, 159, 77);
    font-size: 25px;
    

}